body {
    background: blue;
    background-image: url(./image/background\ image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
    

.login-form {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .form-group {
    position: relative;
  }
  
  .form-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .form-group input {
    width: 250;
    padding: 12px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px 24px;
    margin: 10px 2px;
    box-sizing: border-box;
  }
  
  #login-button {
    background-color: #4CAF50;
    color: white;
    border: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px 4px;
    cursor: pointer;
    width: 250px;
    box-sizing: border-box;

  }
  
  #login-button img {
    margin-right: 8px;
  }
  
  #login-button:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./image/login-icon.png');
    background-size: cover;
    margin-right: 8px;

  }
  
  #login-button:hover {
    background-color: #3e8e41;

  }
  
  #login-button:active {
    background-color: #36722d;

  }
  .forgotpassword {
    text-align: center;
    margin: 0px;

  }